<h2>Person:</h2>
<form name="personForm">
  <ul>
    <li>
      <input type="text"
             [(ngModel)]="tmpPerson.firstName"
             name="tmpPerson.firstName"
             placeholder="First Name"
             title="First Name" />
    </li>
    <li>
      <input type="text"
             [(ngModel)]="tmpPerson.lastName"
             name="tmpPerson.lastName"
             placeholder="Last Name"
             title="Last Name" />
    </li>
    <li>
      <input type="number"
             [(ngModel)]="tmpPerson.height"
             name="tmpPerson.height"
             placeholder="Height (cm)"
             title="Height (cm)" />
    </li>
    <li>
      <input type="text"
             [(ngModel)]="tmpPerson.gender"
             name="tmpPerson.gender"
             placeholder="Gender"
             title="Gender" />
    </li>
    <li>

      <button type="submit"
              (click)="persistPerson(tmpPerson)"
              title="persistPerson(tmpPerson)">persistPerson(tmpPerson)</button>
    </li>
    <li>
      <span *ngIf="persistedPerson">{{persistedPerson.name()}} is a {{persistedPerson.gender | gender}} and is {{persistedPerson | personHeight}} tall.</span>
    </li>
  </ul>
</form>
