<h2>Create a person:</h2>
<form [formGroup]="personForm" novalidate>

  <input type="text"
         formControlName="firstName"
         placeholder="First Name"
         title="First Name"
         required />

  <input type="text"
         formControlName="lastName"
         placeholder="Last Name"
         title="Last Name"
         required />

  <input type="number"
         formControlName="height"
         placeholder="Height (cm)"
         title="Height (cm)"
         required />

  <select formControlName="gender"
          title="Gender"
          required>
    <option [ngValue]="null" disabled>- gender -</option>
    <option value="MALE">{{'MALE' | gspGender}}</option>
    <option value="FEMALE">{{'FEMALE' | gspGender}}</option>
  </select>

      <button type="submit"
              (click)="create(personForm.value)"
              [disabled]="personForm.invalid"
              title="create(personForm.value)">create(personForm.value)</button>
</form>

<div *ngIf="createdPerson">
  <h3>Created Person:</h3>
  {{createdPerson.name()}}, {{createdPerson.gender | gspGender}}, {{createdPerson | gspPersonHeight}}.
</div>
